body {
    padding: 15px 100px;
    color: #034f84;
    font-family: "Courier New", Courier, monospace;
  }
  
  h4 {
    margin: 0;
    padding: 0;
    margin-top: 30px;
  }
  
  h4:first-of-type {
    margin: 0;
  }
  
  
  .tasks ul li {
    margin: 2px 0;
  }
  
  .tasks > li {
    margin: 10px 0;
  }
  
  div {
    position: relative;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: white;
    color: #92a8d1;
    border: 2px solid #92a8d1;
    border-radius: 3px;
    cursor: pointer;
  }
  
  div:hover {
    background-color: #034f84;
  }
  
  #div1 {
    width: 100px;
    height: 100px;
  }
  
  #div2 {
    width: 200px;
    height: 200px;
  }
  
  #div3 {
    position: relative;
    transform: translate(-50%, 0);
    width: 300px;
    height: 300px;
    margin: 20px 0;
  }
  
  div::before {
    position: absolute;
    padding: 5px;
  }
  #div1::before {
    content: "div1";
  }
  #div2::before {
    content: "div2";
  }
  #div3::before {
    content: "div3";
  }
  
  .events {
    padding-left: 40px;
  }
  
  .playfield {
    position: relative;
    padding: 0 20px;
  }
  
  table, th, td {
    border: 1px dotted #92a8d1;
  }
  
  table {
    width: 100%;
    margin: 40px auto 0;
  }
  
  td:first-of-type {
    width: 60%;
  }